
{% extends "searchTheData.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchTheData.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/results/mainNumberResults.css') }}">   
{% endblock head %}

{% block content %} 
{% if result is not defined %}
<div class = "query-introduction">
    <h2 class="query-header">Get Number of Disease Cases in County</h2>
    <h3 class="query-subheader">returns the number of reported cases of a given disease within a given county</h3>
</div>

    <form class="option-group" method="POST" id="number-of-disease-cases-in-county"> 
    <h2>Select a combination of filters:</h2>

    <select name="disease-selection" required>
        <option value="" disabled selected>Select a disease</option>
        {% for disease in valid_diseases %}
            <option value="{{disease}}">{{disease}}</option>
        {% endfor %}
    </select>
    
    <select name="county-selection" required>
        <option value="" disabled selected>Select a county</option>
        {% for county in valid_counties %}
            <option value="{{county}}">{{county}}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>

{% else %}
    <div class = "results">
        <div class="results-number">
            <p1>{{ result }}</p1>
        </div>
        <div class="results-text">
            <p1 class="results-normal"> cases of </p1>
            <p1>{{ disease_filter }}</p1>
            <p1 class="results-normal"> were recorded in </p1>
            <p1> {{ county_filter }}. </p1>
        </div>
    </div>

    <br> <br> <br>
    <a href="{{ url_for('searchTheDataForQuery', query='See number of disease cases in a county') }}"><button class = "paramButton">Click to switch parameters</button></a>
{% endif %}

{% endblock content %}